body{
   background: rgb(0, 0, 20); 
  /* background-image: url("images.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%; */
}
.all_sections{
 display:grid;
 grid-template-columns: 20% 80%;
 width: 90%;
 height: 90vh;
 background: rgb(255, 255, 255);
 margin-left: auto;
 margin-right: auto;
 border-radius: 20px;
}
.section_one{
  
  margin: 10px;
  border-top-left-radius:20px;
  border-bottom-left-radius:20px;
  /* background-color: white; */
  border-right: 1px solid rgba(0, 0, 0, 0.171);
}
.section_two{
  /* background-color: white; */
  margin: 10px;
} 
.section_one h1{
  text-align: center;
}
.all_tiltles_and_icons div,.all_tiltles_and_icons nav{
      display: flex;
      gap: 10px;
      justify-content: center;
}
.all_tiltles_and_icons div:hover{
  background-color: rgba(0, 0, 43, 0.692);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color:white;
}
.all_tiltles_and_icons div .icon{
  margin-top:auto;
  margin-bottom: auto;
}
.all_tiltles_and_icons button{
  width: 100px;
  color: white;
  border: none;
  outline: none;
  background-color: rgb(0, 0, 43);
  height: 30px;
  border-radius: 5px;
  margin-top: 150px;
} 
.all_tiltles_and_icons button:hover{
  background-color: rgba(0, 0, 43, 0.788);
}