body{
  background: rgb(0, 0, 20);
  width: 100%;
}
.all_sections{
 display:grid;
 grid-template-columns: 20% 80%;
 width: 90%;
 height: 90vh;
 background: white;
 margin-left: auto;
 margin-right: auto;
 border-radius: 20px;
}
.section_one{
  
  margin: 10px;
  border-top-left-radius:20px;
  border-bottom-left-radius:20px;
  background-color: white;
  border-right: 1px solid rgba(0, 0, 0, 0.171);
}
.section_two{
  background-color: white;
  margin: 10px;
} 
.section_one h1{
  text-align: center;
}
.all_tiltles_and_icons div{
      display: flex;
      gap: 10px;
      justify-content: center;
}
.all_tiltles_and_icons div:hover{
  background-color: rgba(0, 0, 43, 0.568);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.all_tiltles_and_icons div .icon{
  margin-top:auto;
  margin-bottom: auto;
}